*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.wrapper {
    width: 1280px;
    margin: 0 auto;
}

/* header */
header {
    padding-bottom: 150px;
    height: 100px;
    clear: both;
}

.header__logo {
    float: left;
    width: 150px;
    margin-left: 100px;
    margin-top:-5px;

}


.header__menu {

    float: left;
    margin-left: 600px;
    padding-top:30px;
}

.menu__item {


    list-style: none;
    width: 80px;
    font-weight: 300;
    display: inline-block;
    letter-spacing: 1.2px;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;



}

.menu__item:hover {
    font-weight: 500;

}

/* header end */

/* section 1 -promo */
.promo {
    margin: 0 auto;
    height: 700px;
    background-image: url("https://images.unsplash.com/photo-1531263939119-4022c6cf273b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cb9b96e25a0ac2b2891c106e43eb93b5&auto=format&fit=crop&w=1954&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.promo__textbox {

    background-color: rgba(43, 58, 66, 0.6);
    display: inline-block;
    margin: 100px;
}

.promo__h1 {
    text-align: center;
    font-size: 48px;
    color: white;
    text-transform: uppercase;


}

.promo__text {

    display: inline-block;
    width: 31%;
    padding: 10px;
    color: white;
    font-size: 22px;
    font-weight: 300;
}

/* section 1 -promo end*/

/* section-icon start */
.section-icon{
    overflow: hidden;

}

.icon{
    display: block;
    float: left;
    width: 25%;
}

@media (max-width: 800px) {
    .icon {
        width: 50%;
    }
}

@media (max-width: 450px) {
    .icon {
        width: 100%;
    }
}
    
    

.img{
    max-width:70%;
    max-height:70%;
    margin: 15%;

}

@media (max-width: 800px) {
    .img {
        max-width:60%;
        max-height:60%;
        margin: 35px 20%;
    }
}

@media (max-width: 450px) {
    .img {
        max-width:50%;
        max-height:50%;
        margin: 25px 25%;
    }
}

.img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.first-person {
    display: inline-block;
    line-height: 20px;
    font-size: 17px;
    text-align: center;
    padding-right: 15px;
}


.second-person {
    display: inline-block;
    line-height: 20px;
    font-size: 17px;
    text-align: center;
    padding-right: 15px;
}

.third-person {
    display: inline-block;
    line-height: 20px;
    font-size: 17px;
    text-align: center;
    padding-right: 15px;
}

.fourth-person {
    display: inline-block;
    line-height: 20px;
    font-size: 17px;
    text-align: center;
    padding-right: 15px;
}

.fifth-person {
    display: inline-block;
    line-height: 20px;
    font-size: 17px;
    text-align: center;
    padding-right: 15px;

    

}


.Kacper-photo{
    width: 100px;
    height: 100px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-position: center;
    background-size: 100%;
    
        
}

.Tomasz-photo{
    width: 100px;
    height: 100px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-position: center;
    background-size: 100%;
       
}

.Sonia-photo{
    width: 100px;
    height: 100px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-position: center;
    background-size: 100%;
    
        
}

.Krzysztof-photo{
    width: 100px;
    height: 100px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-position: center;
    background-size: 100%;
      
}

.Radoslaw-photo{
    width: 100px;
    height: 100px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-position: center;
    background-size: 100%;
    
    
        
}

.section-about-us {
    text-align: center;
    margin-bottom: 90px;
}
