/* MAIN STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

a {
    cursor: pointer;
}

@media (max-width: 1800px) {
    :root {
        --ratio: 14 / 16;
        --width: 100vmin;
        --height: calc(var(--width) * var(--ratio));
    }
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

.wrapper {
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
}

.footer {
    margin: 0;

}

/* NAVIGATION */

.header-logo {
    width: 200px;
    margin-left: 200px;
}

@media screen and (min-width: 400px) {
    .header-logo {
        margin: 0;
    }
}

.orange-btn {
    color: #FF8F00;
}

.orange-btn:hover {
    background-color: #FF8F00;
    color: #fff;
}

.main-nav-size {
    font-size: 17px;
    text-transform: uppercase;
}

.active-link {

    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 770px) {
    .header-logo {
        margin: 0;
    }
}

.active-link {

    font-weight: bolder;
}

.backtop {
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 100;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: .09;
    background-color: #FF8F00;
    font-size: 3rem;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all;
}

.backtop:hover {
    text-decoration: none;
}

.backtop-show {
    opacity: 1000;
    visibility: visible;
    transition: 0.4s all;
}

/* SLIDER */

.carousel-item {
    height: 100vh;
}

.carousel-caption {
    z-index: 10;
    background-color: rgba(43, 58, 66, 0.6);
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-family: 'Mali';
    font-size: 2.5rem;
    font-weight: 100;
    margin: auto;
    padding: 20px 0;
    text-shadow: 5px 6px 10px rgb(0, 0, 0);
    width: 65%;
}

.p-small {
    font-size: 1.6rem;
}

.p-big {
    font-weight: 300;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: block;
    width: 400px;
    height: 85px;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-prev-icon {
    margin-left: 20px;
}

.carousel-control-next-icon {
    margin-right: 20px;
}


.carousel-control-next-icon:after {
    display: block;
    padding: 0;
    margin: 0px;
    content: '>';
    font-size: 85px;
    font-weight: 900;
    color: #FF8F00;
}

.carousel-control-prev-icon:after {
    content: '<';
    display: block;
    padding: 0;
    margin: 0px;
    font-size: 85px;
    font-weight: 900;
    color: #FF8F00;
}

/* **************** SLIDE 1 ******** */
.header__slide1 {
    background-attachment: fixed;
    background-image: url(img/phone.JPG);
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100%;
    width: 100%;
}


/* **************** SLIDE 2 ***** */

.header__slide2 {
    background-attachment: fixed;
    background-image: url(img/wallet.JPG);
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100%;
    width: 100%;
}

/* *********** SLIDE 3 ***** */

.header__slide3 {
    background-attachment: fixed;
    background-image: url(img/pet.JPG);
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100%;
    width: 100%;
}


@media (max-width: 1024px) {
    .carousel-caption {

        font-size: 1.5rem;

    }

    .p-small {
        font-size: 1.2rem;
    }

    .carousel-control-next-icon:after,
    .carousel-control-prev-icon:after {

        margin: 3rem;
        font-size: 5rem;
        font-weight: 700;
    }
}

@media (max-width: 400px) and (orientation: portrait) {
    .carousel-caption {

        font-size: 0.8rem;

    }

    .p-small {
        font-size: .6rem;
    }

    .carousel-control-next-icon:after,
    .carousel-control-prev-icon:after {


        font-size: 3rem;
        margin: 6rem;

    }
}




/* a start */
.icons_container {
    padding: 0;
    margin: 5rem;
    margin-top: 10rem;
    min-height: 39rem;


}

.section__icons {
    overflow: hidden;
    background-image: linear-gradient(rgba(239, 240, 224, 0.9), rgba(239, 240, 224, 0.7)), url("https://images.unsplash.com/photo-1548685913-fe6678babe8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2823&q=80");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.icons__img {
    max-width: 70%;
    max-height: 70%;
    margin: 15%;

}

.icons__img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.first_icon_show {
    display: block;
    background-image: url("img/icons/znalazłem_alt.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 250px;
    height: 250px;
    position: relative;
    left: 25px;
    top: 0;
}

.second_icon_show {
    display: block;
    background-image: url("img/icons/mapa_alt.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 250px;
    height: 250px;
    position: relative;
    left: 25px;
    top: 0;
}

.third_icon_show {
    display: block;
    background-image: url("img/icons/plakat_alt.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 250px;
    height: 250px;
    position: relative;
    left: 25px;
    top: 0;
}

.fourth_icon_show {
    display: block;
    background-image: url("img/icons/zgubiłem_alt.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 250px;
    height: 250px;
    position: relative;
    left: 25px;
    top: 0;
}

@media (max-width: 1024px) {

    .first_icon_show,
    .second_icon_show,
    .third_icon_show,
    .fourth_icon_show {
        left: 0;
        width: 200px;
        height: 200px;
    }
}

/* form */


.parent-wrapper {
    position: relative;
    width: 750px;
    height: 270px;
    margin: 40px auto 0;
    background-color: #2B3A42;
    border-radius: 4px;
    color: #F0F0DF;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.5);
}

.form-container {
    padding: 200px 0;
}

.background {
    margin: 20px;
    font-size: 18px;

}


.subscribe-wrapper {
    position: absolute;
    left: -30px;
    right: -30px;
    height: 200px;
    padding: 30px;
    background-color: #F0F0DF;
    border-radius: 4px;
    color: #333;
    box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 800px) {
    .parent-wrapper {
        width: 80%;
        height: 270px;
    }

    .text__info {
        font-size: 22px !important;
    }

}

@media screen and (max-width: 400px) {
    .parent-wrapper {
        width: 80%;
        height: 260px;
    }

    .subscribe-wrapper {
        height: 200px;
        padding: 10px;
        font-size: 10px;
        line-height: 15px;
    }

}

.subscribe-wrapper h4 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 28px;
}

.subscribe-wrapper input {
    position: absolute;
    bottom: 30px;
    border-color: #3F5866;
    padding: 10px;
    width: 65%;
    background: transparent;
}

.subscribe-wrapper .submit-btn {
    position: absolute;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #3F5866;
    color: #F0F0DF;
    padding: 12px 25px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    right: -10px;
    bottom: 30px;
    cursor: pointer;
    transition: all .25s ease;
    box-shadow: -5px 6px 20px 0px rgba(51, 51, 51, 0.4);
}

.submit-btn:hover {
    background-color: #FF8F00;
}

/* game  */
.game-container-show {
    display: block;
    margin-top: 20px;
    background-image: url("/img/background.jpg");
    background-color: #cccccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 800px;
}

.hidden {
    display: none;
}

.my-red-alert {
    font-size: 17px;
    font-weight: 300;
}

/* about-us */

.section__aboutus {
    overflow: hidden;
    background-image: linear-gradient(rgba(239, 240, 224, 0.6), rgba(239, 240, 224, 0.6)), url("https://images.unsplash.com/photo-1529333242387-8c6c002a52d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

@media screen and (min-width: 900px) {
    #about-us {
        padding: 0px;
    }

}

.container {
    margin: 0 auto;
    padding: 0;
    margin-top: 10rem;
    min-height: 39rem;
}

.row {
    margin: 0 auto;
}

.col-12 {
    margin: 0 auto;
}

.pad-bot {
    padding-bottom: 30px;
}

.card-img-top img {
    width: 100%;
    height: auto;
    max-width: 150px;
    min-width: 70px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #3F5866;

}

.card-flip {
    transition: transform 1s ease-in-out 0s;
  transform-style: preserve-3d;
  width: 100px;
  
  }
  .card-flip:hover {
    transform: rotateY(180deg);
  }
  
  .card-flip,
  .front,
  .back {
    width: 200px;
    height: 480px;
  }
  
  .flip {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .front, .back {
    position: absolute;
    width: 100%; height: 100%;
    transition: transform 1s;
    backface-visibility:hidden;
  }
  .card-photo {
    position: relative;
    width: 12rem; height: 15rem;
    perspective: 30rem;
    overflow: hidden;
    
  }
  .card-border{
    background-color: #FF8F00;
    color: #3F5866;
  }
  
  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  
  .back {
    transform: rotateY(180deg);
  }
    




.card-text {

    text-align: justify;
    font-family: Lato;
    overflow: hidden;
}

.aboutUsPhoto {
    padding-right: 15px;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}



/* info */
#info {
    padding: 100px;
}

.info_container {
    padding: 0;
    margin: 5rem;
    margin-top: 10rem;
    min-height: 39rem;


}

.info {
    margin: auto 0;
    display: block;
}

.card {
    margin-top: 25px;
}

.text__info {
    text-align: center;
    margin: 20px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: #2B3A42;
    font-family: Lato;
    font-size: 33px;
}

.btn-link {
    color: #2B3A42;
    text-decoration-line: none
}

.btn-link:hover {
    color: #2B3A42;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}

.fas {
    color: #2B3A42;
}

.fab {
    color: #2B3A42;
}

.far {
    color: #2B3A42;
}

.text__button {
    font-family: Lato;

}

.text__card {
    font-family: Lato;
}

.card-body {
    background-color: #2B3A42;
    border-radius: 25px;
}

/* footer */

.footer-container {

    width: 100%;
    margin: 0;
    background-color: #2B3A42;
    color: #F0F0DF;
    padding-top: 70px;

}

.last-line-container {

    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.copyright {
    margin: 0;
    padding: 20px;
    cursor: default;

}

.footer-nav {
    background: #2B3A42;
    font-size: 16px;
    text-align: center;
    padding: 20px;
}

.footer-nav a {
    text-decoration: none;

}

a.footer-nav,
a:visited {
    text-decoration: none;

}

.frontersi {
    font-size: 11px;
    font-family: monospace;
    font-weight: 100;



}

@media screen and (max-width: 920px) {
    #info {
        padding: 0;
    }

    .footer-container {
        width: 100%;
        text-align: center;
    }

    .footer-nav {

        width: 100%;
        text-align: center;
    }

    .last-line-container {

        justify-content: center;

    }
}

@media screen and (min-width: 900px) {
    #info {
        min-height: 600px;
    }
}